{# Expects `posts`: the pages to list, already in the order they should appear. #}
{% if posts | length > 0 %}
    <ul class="post-list">
        {% for post in posts %}
            <li class="post-item">
                <time class="post-date" datetime="{{ post.date }}">{{ post.date | date(format="%b %-d, %Y") }}</time>
                <span class="post-heading">
                    <a class="post-link" href="{{ post.permalink | safe }}">{{ post.title }}</a>
                    {% if post.draft %}<span class="post-draft">Draft</span>{% endif %}
                </span>
                <span class="post-terms">{%- include "partials/post-terms.html" -%}</span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="post-empty">No posts yet.</p>
{% endif %}
